html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  justify-content: center; /* centrar horizontal */
  align-items: center;     /* centrar vertical */
  background: #fff;        /* color de fondo */
}

body img {
  max-width: 100%;
  height: auto;
  display: block;
}